body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    
  }
  
.uth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: 80px auto 0;
    padding: 3rem;
    border: 1px solid white;
    /* border-radius: 10px; */
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(29, 26, 26, 0.4); 
    background-color: rgb(255, 255, 255);
    /* color: white; */
}
.login-form, .register-form{
    display: flex;
    flex-direction: column;
    max-width: 500px; 
    margin: 0 auto; 
    padding: 2rem;
    border: 1px solid rgb(234, 225, 225);
    /* border-radius: 10px; */
    margin: 0.5rem;
    background-color: rgb(255, 255, 255);
    
  }
  
  
  @media screen and (min-width: 600px) {
    .uth-form{
      padding: 4rem;
      border: 0px solid rgb(200, 200, 179);
      background-color:white;
      /* border-radius: 10px; */
      margin: 0.5rem;
      
    }
  }
  
  label{
    text-align: left;
    padding: 0.25rem 0;
    color: black;
  }
  
  input{
    margin: 0.5rem 0; 
    padding: 1rem;
    padding-right: 5rem;
    border: none;
    /* border-radius: 10px; */
   
    border: 1px solid rgb(56, 48, 48);
  }
  
  button{
    border: none;
    border: 1px solid rgb(234, 225, 225);
    background-color: rgb(207, 86, 26);
    color: rgb(255, 255, 255);
    margin: 0.5rem;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
    
  }
  .dont{
    color: rgb(48, 32, 32);
  }
  .link-btn{
    background: none;
    color: rgb(17, 11, 11);
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .login-btn{
    background-color: rgb(207, 86, 26);
    border: 1px solid rgb(234, 225, 225);
    border-radius: 10px;
    padding: 13px;
    color: white;
    text-decoration: none;
  }